@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
            integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
            crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/main.css" />
    <title>About Me</title>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome to Teomazivila's Book List</h1>
    <p>Visist my Portfolio Here<a href="https://teo-services.com">Teodorico S. Mazivila</a>.</p>
</div>
<main id="about">
    <h1 class="lg-heading">
        About
        <span class="text-secondary">Me</span>
    </h1>

    <div class="about-info">
        <img src="~/css/img/portrait.jpg" alt="Teomaz" class="bio-image" />

        <div class="bio">
            <h1 class="text-secondary">BIO</h1>
            <p>
                I am passionate and overwhelmed by technology, I like myself a good challenge, hard work, the
                joy I get from completing a hard and successful project/task is what motivates me even more,
                preparing me for the next project. I work with System Administration, Task Automation,
                Software/Web-Development and technical teams to address the challenges posed by any business
                problems and strive to formulate solutions that are effective and accurate.
                I work very hard to provide modern and stable solutions for big and small companies,
                allowing any business/company a chance to have independent and customized solutions for a
                better workflow.
            </p>
        </div>

        <div class="job job-0">
            <h1 class="text-secondary">.NET CORE</h1>
            <h2 style="color: #17a2b8;">Software Development</h2>
            <h4 style="color: #7a7c12;">Technologies: Python, C#, Swift & PHP</h4>
            <p>
                * Recommend software upgrades for customers’
                existing programs and systems <br />* Design each piece of the
                application or system and plan how the pieces will work together
                <br />* 
            </p>
        </div>
        <div class="job job-1">
            <h2 style="color: #17a2b8;">Sadmin/System Administrator</h2>
            <h4 style="color: #7a7c12;">
                Technologies: Windows Server - All, Linux & MacOS
            </h4>
            <p>
               * Set up accounts and workstations
                Monitor performance and maintain systems according to requirements
                <br />* Troubleshoot issues and outages
            </p>
        </div>

        <div class="job job-2">
            <h2 style="color: #17a2b8;">Full Stack Web Development</h2>
            <h4 style="color: #7a7c12;">Technologies: Python, C# & PHP</h4>
            <p>
                * Write & design, testable, efficient with software development
                practices such as Python, JavaScript & PHP. 
            </p>
        </div>

        <div class="job job-3">
            <h2 style="color: #17a2b8;">
                Current Job • LaxtonGroup</h2>
                <h4 style="color: #7a7c12;">
                    Technical Coordinator/Project Manager</h4>
                    <p>
                        <h3>Election, Identity, Security</h3>

                        Biometric Registration Kits
                        Rugged Biometric Tablets
                        Rugged Biometric Handhelds
                        Integrated Biometric Desktops
                        Rugged Biometric Laptops
                        Self Service Enrollment Kiosks
                        E-Voting Terminals
                    </p>
        </div>

        <div class="job job-4">
            <h2 style="color: #17a2b8;">
                Jobs Done • Indigo Safaris</h2>
                <h4 style="color: #7a7c12;">
                    Web designer and Software Manager</h4>
                    <p>
                        Position: Web designer and Software Manager | Period: 2017 -2019.
                        Duties: Editing Websites and management of various software’s like:
                        Ollami, Wetu, and Safari Bookings, to create and manage Safari
                        Itineraries! .
                    </p>
        </div>
        <div class="job job-5">
            <h2 style="color: #17a2b8;">
                Jobs Done • Movitel S.A.</h2>
                <h4 style="color: #7a7c12;">
                    Network Operations Managent/Syadmin</h4>
                    <p>
                        Position: Vice District Director / Technical Coordinator | Period:
                        September / 2014 to January / 2018. 
                    </p>
        </div>

    </div>
    <div class="icons">
        <a href="https://www.facebook.com/teomazivila">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="linkedin.com/in/teodorico-joana-mazivila-b89514137">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/Teomazivila">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
</main>
